<br>
<h1>Welcome to your Monthly Financial Statement • Enjoy!</h1>
<h2>Savings</h2>
<ul class="test">
    <li ng-repeat="cat in savings">
        <div class="row">
            <div class="col-lg-2">
                <h4>{{cat.item}}</h4>
            </div>
                <div class="col-lg-3">
                    <label>Budgeted Amount</label> <input type="text" id="a{{($index)}}" name="total" ng-model="cat.total" value="{{cat.total}}">
                </div>

            <div class="col-lg-3">
                <label>Amount Spent</label> <input type="text" id="b{{($index)}}" name="actual" ng-model="cat.actual" value="{{cat.actual}}">
                </div>
            <div class="col-lg-1">
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a class="cursor" ng-click="edit(cat)">Save</a></li>
                                <li><a class="cursor" ng-click="delete(cat)">Delete Category</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="https://www.gatecitybank.com" target="_blank">Gate City Bank</a></li>
                                <li><a href="https://www.chase.com" target="_blank">Chase</a></li>
                            </ul>
            </div>
        </div>
    </li>
</ul>
<div class="well well-sm">
    <h4>SAVINGS BUDGETED: ${{ savingsTotal() }} </h4> <h4>SAVINGS SPENT: ${{ savingsActual() }}</h4>
</div>
<h2>Housing</h2>
<ul class="test">
    <li ng-repeat="cat in housing">
        <div class="row">
            <div class="col-lg-2">
                <h4>{{cat.item}}</h4>
            </div>
            <div class="col-lg-3">
                <label>Budgeted Amount</label> <input type="text" id="a{{($index)}}" name="total" ng-model="cat.total" value="{{cat.total}}">
            </div>

            <div class="col-lg-3">
                <label>Amount Spent</label> <input type="text" id="b{{($index)}}" name="actual" ng-model="cat.actual" value="{{cat.actual}}">
            </div>
            <div class="col-lg-1">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a class="cursor" ng-click="edit(cat)">Save</a></li>
                    <li><a class="cursor" ng-click="delete(cat)">Delete Category</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="https://www.gatecitybank.com" target="_blank">Gate City Bank</a></li>
                    <li><a href="https://www.chase.com" target="_blank">Chase</a></li>
                </ul>
            </div>
        </div>
    </li>
</ul>
<div class="well well-sm">
    <h4>HOUSING BUDGETED: ${{ housingTotal() }} </h4><h4>HOUSING SPENT: ${{ housingActual() }}</h4>
</div>
<h2>Utilities</h2>
<ul class="test">
    <li ng-repeat="cat in utilities">
        <div class="row">
            <div class="col-lg-2">
                <h4>{{cat.item}}</h4>
            </div>
            <div class="col-lg-3">
                <label>Budgeted Amount</label> <input type="text" id="a{{($index)}}" name="total" ng-model="cat.total" value="{{cat.total}}">
            </div>

            <div class="col-lg-3">
                <label>Amount Spent</label> <input type="text" id="b{{($index)}}" name="actual" ng-model="cat.actual" value="{{cat.actual}}">
            </div>
            <div class="col-lg-1">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a class="cursor" ng-click="edit(cat)">Save</a></li>
                    <li><a class="cursor" ng-click="delete(cat)">Delete Category</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="https://www.gatecitybank.com" target="_blank">Gate City Bank</a></li>
                    <li><a href="https://www.chase.com" target="_blank">Chase</a></li>
                </ul>
            </div>
        </div>
    </li>
</ul>
<div class="well well-sm">
    <h4>UTILITIES BUDGETED: ${{ utilitiesTotal() }} </h4> <h4>UTILITIES SPENT: ${{ utilitiesActual() }}</h4>
</div>
<h2>Food Budget</h2>
<ul class="test">
    <li ng-repeat="cat in food">
        <div class="row">
            <div class="col-lg-2">
                <h4>{{cat.item}}</h4>
            </div>
            <div class="col-lg-3">
                <label>Budgeted Amount</label> <input type="text" id="a{{($index)}}" name="total" ng-model="cat.total" value="{{cat.total}}">
            </div>

            <div class="col-lg-3">
                <label>Amount Spent</label> <input type="text" id="b{{($index)}}" name="actual" ng-model="cat.actual" value="{{cat.actual}}">
            </div>
            <div class="col-lg-1">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a class="cursor" ng-click="edit(cat)">Save</a></li>
                    <li><a class="cursor" ng-click="delete(cat)">Delete Category</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="https://www.gatecitybank.com" target="_blank">Gate City Bank</a></li>
                    <li><a href="https://www.chase.com" target="_blank">Chase</a></li>
                </ul>
            </div>
        </div>
    </li>
</ul>
<div class="well well-sm">
    <h4>FOOD BUDGETED: ${{ foodTotal() }} </h4> <h4>FOOD SPENT: ${{ foodActual() }}</h4>
</div>
<h2>Transportation</h2>
<ul class="test">
    <li ng-repeat="cat in transportation">
        <div class="row">
            <div class="col-lg-2">
                <h4>{{cat.item}}</h4>
            </div>
            <div class="col-lg-3">
                <label>Budgeted Amount</label> <input type="text" id="a{{($index)}}" name="total" ng-model="cat.total" value="{{cat.total}}">
            </div>

            <div class="col-lg-3">
                <label>Amount Spent</label> <input type="text" id="b{{($index)}}" name="actual" ng-model="cat.actual" value="{{cat.actual}}">
            </div>
            <div class="col-lg-1">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a class="cursor" ng-click="edit(cat)">Save</a></li>
                    <li><a class="cursor" ng-click="delete(cat)">Delete Category</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="https://www.gatecitybank.com" target="_blank">Gate City Bank</a></li>
                    <li><a href="https://www.chase.com" target="_blank">Chase</a></li>
                </ul>
            </div>
        </div>
    </li>
</ul>
<div class="well well-sm">
    <h4>TRANSPORTATION BUDGETED: ${{ transportationTotal() }} </h4> <h4>TRANSPORTATION SPENT: ${{ transportationActual() }}</h4>
</div>
<h2>Clothing</h2>
<ul class="test">
    <li ng-repeat="cat in clothing">
        <div class="row">
            <div class="col-lg-2">
                <h4>{{cat.item}}</h4>
            </div>
            <div class="col-lg-3">
                <label>Budgeted Amount</label> <input type="text" id="a{{($index)}}" name="total" ng-model="cat.total" value="{{cat.total}}">
            </div>

            <div class="col-lg-3">
                <label>Amount Spent</label> <input type="text" id="b{{($index)}}" name="actual" ng-model="cat.actual" value="{{cat.actual}}">
            </div>
            <div class="col-lg-1">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a class="cursor" ng-click="edit(cat)">Save</a></li>
                    <li><a class="cursor" ng-click="delete(cat)">Delete Category</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="https://www.gatecitybank.com" target="_blank">Gate City Bank</a></li>
                    <li><a href="https://www.chase.com" target="_blank">Chase</a></li>
                </ul>
            </div>
        </div>
    </li>
</ul>
<div class="well well-sm">
    <h4>CLOTHING BUDGETED: ${{ clothingTotal() }} </h4> <h4>CLOTHING SPENT: ${{ clothingActual() }}</h4>
</div>
<h2>Medical Budget</h2>
<ul class="test">
    <li ng-repeat="cat in medical">
        <div class="row">
            <div class="col-lg-2">
                <h4>{{cat.item}}</h4>
            </div>
            <div class="col-lg-3">
                <label>Budgeted Amount</label> <input type="text" id="a{{($index)}}" name="total" ng-model="cat.total" value="{{cat.total}}">
            </div>

            <div class="col-lg-3">
                <label>Amount Spent</label> <input type="text" id="b{{($index)}}" name="actual" ng-model="cat.actual" value="{{cat.actual}}">
            </div>
            <div class="col-lg-1">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a class="cursor" ng-click="edit(cat)">Save</a></li>
                    <li><a class="cursor" ng-click="delete(cat)">Delete Category</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="https://www.gatecitybank.com" target="_blank">Gate City Bank</a></li>
                    <li><a href="https://www.chase.com" target="_blank">Chase</a></li>
                </ul>
            </div>
        </div>
    </li>
</ul>
<div class="well well-sm">
    <h4>MEDICAL BUDGETED: ${{ medicalTotal() }} </h4> <h4>MEDICAL SPENT: ${{ medicalActual() }}</h4>
</div>
<h2>Personal</h2>
<ul class="test">
    <li ng-repeat="cat in personal">
        <div class="row">
            <div class="col-lg-2">
                <h4>{{cat.item}}</h4>
            </div>
            <div class="col-lg-3">
                <label>Budgeted Amount</label> <input type="text" id="a{{($index)}}" name="total" ng-model="cat.total" value="{{cat.total}}">
            </div>

            <div class="col-lg-3">
                <label>Amount Spent</label> <input type="text" id="b{{($index)}}" name="actual" ng-model="cat.actual" value="{{cat.actual}}">
            </div>
            <div class="col-lg-1">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a class="cursor" ng-click="edit(cat)">Save</a></li>
                    <li><a class="cursor" ng-click="delete(cat)">Delete Category</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="https://www.gatecitybank.com" target="_blank">Gate City Bank</a></li>
                    <li><a href="https://www.chase.com" target="_blank">Chase</a></li>
                </ul>
            </div>
        </div>
    </li>
</ul>
<div class="well well-sm">
    <h4>PERSONAL BUDGETED: ${{ personalTotal() }} </h4> <h4>PERSONAL SPENT: ${{ personalActual() }}</h4>
</div>
<h2>Recreation</h2>
<ul class="test">
    <li ng-repeat="cat in recreation">
        <div class="row">
            <div class="col-lg-2">
                <h4>{{cat.item}}</h4>
            </div>
            <div class="col-lg-3">
                <label>Budgeted Amount</label> <input type="text" id="a{{($index)}}" name="total" ng-model="cat.total" value="{{cat.total}}">
            </div>

            <div class="col-lg-3">
                <label>Amount Spent</label> <input type="text" id="b{{($index)}}" name="actual" ng-model="cat.actual" value="{{cat.actual}}">
            </div>
            <div class="col-lg-1">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a class="cursor" ng-click="edit(cat)">Save</a></li>
                    <li><a class="cursor" ng-click="delete(cat)">Delete Category</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="https://www.gatecitybank.com" target="_blank">Gate City Bank</a></li>
                    <li><a href="https://www.chase.com" target="_blank">Chase</a></li>
                </ul>
            </div>
        </div>
    </li>
</ul>
<div class="well well-sm">
    <h4>RECREATION BUDGETED: ${{ recreationTotal() }} </h4> <h4>RECREATION SPENT: ${{ recreationActual() }}</h4>
</div>
<h2>Other</h2>
<ul class="test">
    <li ng-repeat="cat in Other">
        <div class="row">
            <div class="col-lg-2">
                <h4>{{cat.item}}</h4>
            </div>
            <div class="col-lg-3">
                <label>Budgeted Amount</label> <input type="text" id="a{{($index)}}" name="total" ng-model="cat.total" value="{{cat.total}}">
            </div>

            <div class="col-lg-3">
                <label>Amount Spent</label> <input type="text" id="b{{($index)}}" name="actual" ng-model="cat.actual" value="{{cat.actual}}">
            </div>
            <div class="col-lg-1">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a class="cursor" ng-click="edit(cat)">Save</a></li>
                    <li><a class="cursor" ng-click="delete(cat)">Delete Category</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="https://www.gatecitybank.com" target="_blank">Gate City Bank</a></li>
                    <li><a href="https://www.chase.com" target="_blank">Chase</a></li>
                </ul>
            </div>
        </div>
    </li>
</ul>
<div class="well well-sm">
    <h4>OTHER BUDGETED: ${{ otherTotal() }} </h4> <h4>OTHER SPENT: ${{ otherActual() }}</h4>
</div>
<!--income section-->
<div class="well well-lg" id="totals">
    <div class="row">
        <div class="col-lg-4">
            <h4 class>Total Budgeted: </h4><h2> ${{ overallTotal() }} </h2>
        </div>
        <div class="col-lg-4" class="a">
            <h4>Total Spent: </h4><h2> ${{ overallActual() }} </h2>
        </div>
        <div class="col-lg-4" class="b">
            <h4>Money Remaining: </h4><h2> ${{ overallRemaining }} </h2>
        </div>
    </div>
</div>

<hr>
<h2>Income</h2>
<ul class="test">
    <li ng-repeat="cat in income">
        <div class="row">
            <div class="col-lg-2">
                <h4>{{cat.item}}</h4>
            </div>
            <div class="col-lg-3">
                <label>Budgeted Amount</label> <input type="text" id="a{{($index)}}" name="total" ng-model="cat.total" value="{{cat.total}}">
            </div>

            <div class="col-lg-3">
                <label>Amount Spent</label> <input type="text" id="b{{($index)}}" name="actual" ng-model="cat.actual" value="{{cat.actual}}">
            </div>
            <div class="col-lg-1">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a class="cursor" ng-click="edit(cat)">Save</a></li>
                    <li><a class="cursor" ng-click="delete(cat)">Delete Category</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="https://www.gatecitybank.com" target="_blank">Gate City Bank</a></li>
                    <li><a href="https://www.chase.com" target="_blank">Chase</a></li>
                </ul>
            </div>
        </div>
    </li>
</ul>
<div class="well well-sm">
    <h4>BUDGETED: ${{ incomeTotal() }}</h4> <h4>ACTUAL: ${{ incomeActual() }}</h4>
</div>

<hr>
<form action="/data/addCategories" method="post">
    <div class="form-group">
        <label>New Category</label>
        <input class="form-control" type="text" name="item" placeholder="Add Category">
    </div>
    <div class="form-group">
        <label>Starting Dollar Amount</label>
        <input class="form-control" type="number" name="total" placeholder="Starting Dollar Amount">
    </div>
    <div class="form-group">
        <label>Subcategory</label>
        <input class="form-control" type="text" name="subcat" placeholder="Subcategory">
    </div>
    <button class="btn btn-primary btn-lg" type="submit">Add Category</button>
</form>