<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <h1 class="center">Additional Profile Information</h1>

    <hr>

    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-user-plus "></span> User Information</h1>

        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <!-- INFO FORM -->
        <form action="/data/info" method="post">
            <div class="form-group">
            <div class="move"><label>First Name</label><input class="form-control" name="firstname" type="text"></div>
            <div class="move"><label>Last Name</label><input class="form-control" name="lastname" type="text"></div>
            </div>
            <div class="form-group">
            <label>Enter Email</label>
            <input type="email" class="form-control" name="email">
            </div>
            <!--<div class="form-group">-->
                <!--<label>Select Username</label>-->
                <!--<input type="text" class="form-control" name="username">-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label>Select Password</label>-->
                <!--<input type="password" class="form-control" name="password">-->
            <!--</div>-->


            <button type="submit" class="btn btn-success btn-lg">Finish Signup</button>
        </form>

        <br>

        <p>Already have an account? <a href="/login">Login</a></p>

    </div>

</div>
</body>
</html>